#rbt-owl-quote .rbt-quote-item {
    margin: 30px auto;
	padding: 0 30px;
    text-align: center;
    max-width: 900px;
}

#rbt-owl-quote .rbt-quote-content {
    position: relative;
	padding: 20px 0;
}

#rbt-owl-quote .rbt-quote-content:before {
	content: '“';
    font-size: 50px;
    line-height: 50px;
    height: 50px;
    display: block;
    position: absolute;
    left: 30px;
    top: 0;
}

#rbt-owl-quote .rbt-quote-author {
	text-align: left;
    display: inline-block;
    vertical-align: middle;
}

#rbt-owl-quote .rbt-quote-author h4 {
    margin: 0;
    text-transform: uppercase;
}

#rbt-owl-quote .rbt-quote-image {
    display: inline-block;
	position: relative;
    vertical-align: middle;
    width: 105px;
    height: 105px;
	margin: 0 20px 20px 0;
    padding: 15px;
    background-position: center center;
    background-size: cover;
}

#rbt-owl-quote .rbt-quote-image img {
    position: absolute;
	top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#rbt-owl-quote .rbt-quote-author-image {
    border-radius: 100%;
    border: 1px solid;
	width: 75px;
	height: 75px;
	position: relative;
    z-index: 3;
	-webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    background-position: center center;
}

#rbt-owl-quote:hover .owl-prev {
    left: 0;
}

#rbt-owl-quote:hover .owl-next {
    right: 0;
}